.l-wrapper{
  width: 100%;
  min-height: 100%;
  background-image: url("../../static/img/bgpattern.png");

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  
  align-content: center;
}