@mixin slip-color($color){
  border-color: $color;

  & .slip__corner-top {
    border-color: $color;
    &:before{
      background: linear-gradient(-45deg, $background-slip 32px, $color 34px, $color 37px, transparent 38px);
    }
  }
  & .slip__weight{
    background: $color;
  }
}

.slip{
  position: relative;
  height: 480px; width: 320px;

  margin-top: 50px;

  padding-left: 46px;

  border: 4px solid;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;

  background: $background-slip;
  background-repeat: no-repeat;
  background-position: bottom, left;

  box-sizing: border-box;

  &__corner-top{
    $font-size-header: $h5;

    position: absolute;
    top: -50px; 
    left: 46px; right: -4px;

    display: inline-block;
    height: 50px;
    background: $background-slip;
  
    line-height: 100px - $font-size-header * 2 ;
    font-size: $font-size-header;
    color: darken($background-slip, 65%);

    border-top-right-radius: 11px;
    border-top: 4px solid;
    border-right: 4px solid;

    &:before{
      content: '';
      position: absolute;
      left: -50px; top: -4px;
      
      height: 50px; width: 50px;

      // background: linear-gradient(-45deg, $background-slip 26px, $primary-color 26px, $primary-color 30px, transparent 31px);
      background: linear-gradient(-45deg, $background-slip 32px, black 34px, black 37px, transparent 38px);
    }
  }

  &__name{
    margin-top: 15px;
  }

  &__equip{
    margin-top: 16px;

    font-size: $h6;
    color: darken($background-slip, 65%)
  }

  &__photo{
    position: absolute;
    left: 0px;bottom: 0px;
  }

  &__weight{
    position: absolute;
    bottom: 15px; right: 15px;
  
    @include circle-badge(80px)
  
    color: white;
  }



  &--default{
    @include slip-color($primary-color);
    &:hover{
      @include slip-color(lighten($primary-color, 10%));
    }
  }

  &--selected{
    @include slip-color($secondary-color);
    &:hover{
      @include slip-color(lighten($secondary-color, 10%));
    }
  }

  &--disabled{
    @include slip-color($disabled-color);

    /*селекторы по тегам имеют бОльшую специфичность*/
    /*Я понимаю, что это плохо*/
    h1,h3,p {
      color: #d3d3d3;
    }
    & + h6{
      color: #ff6 !important; /*увы*/
    }
  }
}