doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    title Уголкииии
  body
    div.l-wrapper
      h1.text-center.full-width.color.white.thin
        |Ты сегодня покормил кота?
      div()
        div.slip.slip--selected(style="background-image: url(../static/img/cat.png)")
          span.slip__corner-top
            | Сказачное заморское яство
          h1.slip__name
            | Нямушка
          h3
            | с фуа-гра
          p.slip__equip
            | 10 порций
            br
            | 1 мышь в подарок
          span.slip__weight
            span.slip__weight-text
              h2 0,5
              h4 кг
        h6.text-center.color.white
          | Печень утки разварная с артишоками

      div()
        div.slip.slip--disabled(style="background-image: url(../static/img/cat.png)")
          span.slip__corner-top
            | Сказачное заморское яство
          h1.slip__name
            | Нямушка
          h3
            | с курицей
          p.slip__equip
            | 40 порций
            br
            | 4 мыши в подарок
          span.slip__weight
            span.slip__weight-text
              h2 2
              h4 кг
        h6.text-center.color.white
          | Печалька, курица все еще бегает

      div()
        div.slip.slip--default(style="background-image: url(../static/img/cat.png)")
          span.slip__corner-top
            | Сказачное заморское яство
          h1.slip__name
            | Нямушка
          h3
            | с кактусом
          p.slip__equip
            | 100 порций
            br
            | 10 мышей в подарок
            br
            | Заказчик доволен
          span.slip__weight
            span.slip__weight-text
              h2 5
              h4 кг
        h6.text-center.color.white
          | Чего сидишь? Порадуй 
          a.default(href="#") котэ
