html, body{
  margin: 0px;
  height: 100%;
  font-family: "Trebuchet MS";
}

@font-face {
  font-family: "Trebuchet MS";
  // src: url(../../static/font/Exo2.0-Thin.otf) format("opentype");
  src: url(../../static/font/Exo2.0-Thin.woff) format("woff");
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
}

h1, .h1{
  font-size: 48px;
  line-height: 48px;
}
h2, .h2{
  font-size: 42px;
  line-height: 42px;
}
h3, .h3{
  font-size: 24px;
  line-height: 24px;
}
h4, .h4{
  font-size: 21px;
  line-height: 21px;
}
h5, .h5{
  font-size: 16px;
  line-height: 16px;
}
h6, .h6{
  font-size: 14px;
  line-height: 14px;
}

a.default{
  color: #1698d9;
  text-decoration: none;
  border-bottom: 1px dashed #1698d9;
  font-weight: 700;
}

.color.white{
  color: white;
}
.full-width{
  width: 100%;
}

.text-center{
  text-align: center;
}
.thin{
  font-weight: 100;
}